.cartModal {
  position: fixed;
  top: 30%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 40%;
  padding: 0;
  overflow: hidden;
  border-radius: 20px;
  background-color: whitesmoke;
}

.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 100%;
  z-index: 2;
}

.header {
  background-color: brown;
  color: whitesmoke;
  padding: 20px;
  position: relative;
}

.header__text {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.header__button {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  color: whitesmoke;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
}

.cartSummary {
  border-top: 1px solid black;
  font-size: 1.1em;
  font-weight: 700;
}

.cartButtons {
  padding: 20px 40px;
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
}

.cartButtons__item {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: whitesmoke;
  font-family: inherit;
  font-weight: 600;
}

.cartButtons__confirm {
  background-color: rgb(34, 176, 34);
}

.cartButtons__cancel {
  background-color: rgb(255, 53, 53);
}

.cartItem__title {
  flex: 2;
  font-size: 1.1em;
  font-weight: 700;
}

.cartItem {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}