.amountManager {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100px;
}

.amountManager__button {
  flex: 2;
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px;
  background-color: inherit;
  font-size: 1.1em;
}

.amountManager__button:nth-child(1) {
  font-size: 1.2em;
}

.amountManager__value {
  flex: 2;
  text-align: center;
  min-width: 30%;
}

.cartItem {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartItem__title {
  flex: 2;
}

.cartItem__price {
  flex: 2;
  text-align: end;
}
