.header {
  background-color: #91280e;
  color: white;
  width: 100%;
  height: auto;
  padding: 10px 15%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  box-shadow: -1px 7px 21px -11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 7px 21px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 7px 21px -11px rgba(0, 0, 0, 0.75);
}

.header__logo {
  font-weight: 500;
  font-size: 1.5em;
  font-family: "Mukta", sans-serif;
  align-self: center;
  cursor: pointer;
}

.header__cart {
  color: white;
  font-family: "Mukta", sans-serif;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px 30px;
  border-radius: 40px;
  border: none;
  background-color: #661c09;
  cursor: pointer;
}

.header__cart:hover {
  background-color: #551707;
}

.header__cart:hover .header__counter {
  background-color: #7e230d;
}

.header__counter {
  background-color: #91280e;
  padding: 5px;
  border-radius: 50%;
  width: 50px;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1.15);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 0.8em;
  }
}

@media (max-width: 560px) {
  .header {
    padding: 10px 5%;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 10px 15%;
  }
  .header__yourCart {
    display: none;
  }
  .header__cart {
    gap: 10px;
  }
  .header__logo {
    font-size: 1.2em;
  }
}
