.menuItem {
  padding: 20px;
  border-bottom: 1px solid grey;
  color: rgb(43, 43, 43);
  position: relative;
}

.form {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(107, 107, 107);
  text-align: center;
  width: 70px;
  font-size: 0.9em;
}

.button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: rgb(14, 174, 14);
  color: white;
  border-radius: 10px;
  font-size: 1em;
  margin: 10px auto;
  width: 100%;
  background-color: #ff5a30;
  cursor: pointer;
}

.button:hover {
  background-color: #df4e29;
}

.upperPart {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (max-width: 768px) {
  .menuItem {
    font-size: 0.8em;
  }
}
