.header {
  background-color: #8f1f1f;
  color: white;
  width: 100%;
  height: auto;
  padding: 10px 15%;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-weight: 500;
  font-size: 1.2em;
  font-family: "Mukta", sans-serif;
}
